body{
    background-color: tan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-image: url(treeBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}

h1, h2{
    background-color: darkolivegreen;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

h2{
    font-size: 95%;
    width: 500px;
    margin: auto;
}

#box{
    background-color: rgb(50, 182, 45);
    border: 2px solid black;
    border-radius: 10px;
    /*height: 350px;*/
    font-size: 200%;

    vertical-align: center;
    padding: 40px;
}
#question{
    display:block;
}
#next{
    display:none;
    font-size:50px;
    padding:20px;
    padding-left:30px;
    padding-right:30px;
    border: 2px solid black;
}
#next:hover{
    border: 1px solid black;
}

#finalScore{
    display:none;
}
#finalScore2{
    font-size: 120%;
}
#howWell{
    padding:5px;
    font-size: 70%;
}
#getBetter{
    font-size: 50%;
}
#refresh{
    font-size:50px;
    padding:20px;
    padding-left:30px;
    padding-right:30px;
    border: 2px solid black;
}
#refresh:hover{
    border: 1px solid black;
}

#num{
    font-size: 50%;
}

label.choices{
    display: inline;
    padding: 15px;
    /*need to see why style isnt changing*/
    font-family: arial, helvetica, sans-serif;
    font-size: 32px;
    background-color: darkolivegreen;
    border: 2px solid black;
}
label.choices:hover{
    border: 1px solid black;
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

/*#select{
    display: none;
    font-size: 20px;
}*/